@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*Banner container style start*/

.banner-container{
    width: 1517px;
    height: 660px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 75px;
}
.banner-img img{
    width: 240.28px;
    height: 240px;
    padding-top: 26px;
    padding-left: 646px;
    padding-bottom: 32px;

}
.banner-content h1{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    padding-bottom: 24px;
}
.banner-content p{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 40px;
}
.banner-content button{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 680px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    
}
/*Banner container style End*/

/*web development container style start*/
.web-development-container{
    background-color:rgba(13, 19, 33, 0.02);
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    padding: 80px 94px 80px 94px;
    border-radius: 16px;   
    margin-bottom: 88px;
}
.web-info-start h2{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 25px;
    
}
.web-info-start p{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 96px;
}
.first-web-info{
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
}
.first-web-info-content{
    width: 600px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-right: 100px;
}
.first-web-info-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 19px;
    padding-left: 60px;
}
.first-web-info-content p{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 38px;
    padding-left: 60px;
}
.first-web-info-content button{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-left: 10px;
    padding: 10px 15px;
}
.first-web-img img{
    width: 239.56px;
    height: 210.01px;
    padding-top: 10px;
    padding-right: 70px;
}

.second-web-info{
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
}

.second-web-content{
    width: 477px;
    height: 210px;
    padding-left: 100px;
}
.second-web-img{
    padding-right: 80px;
    padding-left: 45px;
}
.second-web-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 19px;
    padding-left: 44px;
}
.second-web-content p{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 38px;
    padding-left: 44px;
}
.second-web-content button{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 20px;
    margin-left: 44px;
    padding: 10px 20px; 
}
/*web development container style End*/
.inspiration-video-container{
    width: 1180px;
    height: 775px;
    margin: 0 auto;
}
.inspiration-content {
    text-align: center;
}
.inspiration-content h3 {
    padding-top: 8px;
    margin-bottom: 28px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.inspiration-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
}
/*video section start*/
.video-section{
    width: 1140px;
    height: 580px;
    margin: 0 auto;    
}
.video-border{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding-top: 22px;
    padding-bottom: 35px;
}
.video-section iframe{
    width: 1140px;
    height: 595px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
/*video section End*/

/* Card Style Start*/
.card-container{
    width: 1140px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}
.card-content {
    text-align: center;
    padding-bottom: 48px;
}
.card-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 47px;
    
}
.card-content h3{
    padding-bottom: 24px;
}

.card-description img{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
}
.card-description h4{
    padding-bottom: 14px;
    padding-left: 40px;
}
.card-description p{
    padding-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 40px;
    }
.more-link{
    color: black;
    margin-bottom: 50px;
    padding-left: 42px;
    
} 
.card-description{
    height: 1070px;
}
.card-description ul li{
    list-style-type: none;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-description{
    height: 400px;
 
}
.card-description-bg1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 24px;
    margin-bottom: 990px;
    height: 350px;
}
.card-description-bg2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 24px;
    height: 350px;
}

.card-description-bg3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    height: 350px;
}
/* Card Style End*/

/*Support section style start*/
.support-section-container{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin-bottom: 80px;

}
.support-content{
    text-align: center;
}
.support-content h3{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    padding-top: 64px;
}
.support-content p{
    padding-top: 16px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.3px;
}
.form-content{
    text-align: center;
}
.btn1{
    color: rgba(13, 19, 33, 0.4);
    font-size: 10px;
    font-weight: 200;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
    padding: 13px 130px;
    
}
.btn2{
    padding: 11px 15px;
    margin-left: 8px;
    border-radius: 5px;
}
/*Support section style End*/

/*footer style start*/
#footer-container{
    width: 1517px;
    height: 80px;         
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 22px 20px;
    border-radius: 16px;
    background-color: rgb(214, 212, 212);
}
.footer-content h4{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    margin-left:165px ;
    padding: 15px 100px;
    background-color: rgb(255, 249, 249);
    border-radius: 8px;
}
.contact {
    height: 50px;
    width: auto;
    padding-top: 20px;
    margin-right: 180px;
}
.contact img{
    padding-left: 30px;
}
/*footer style End*/



